/*busineess*/

.businessContainer {
  background-color: #fff;
  padding: 30px 35px 100px;
  margin-bottom: 240px;
}

.businessContainer .title {
  margin: 0 0 50px;
  font-size: 20px;
  color: #232323;
  font-weight: normal;
  text-indent: 1em;
}
